<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css.css">
	<title>Facebook</title>
</head>
<body>
	<header>
		
		<button class="facebook">Facebook</button>
		<nav>
			<ul class="nav__links">
				<li><a href="#"> Meu Perfil</a></li>
			</ul>

		</nav>
		<img class="account" src="account.png">
	</header>
	<br/>
	<div class="content">
		<div class="card">
			<img src="facebook.png" alt="Avatar">
			<div class="autor">				
				<label >Autor</label>
				<small >04 jun 2020</small>
			</div>
			<textarea rows="2" readonly="true">Pessoal, alguém sabe se a Rocketseat está contratando?</textarea>
		</div>
		<hr/>

		<div class="comment">
			<div class="img">
				<img src="account.png" alt="Avatar">
			</div>
			<textarea rows="3" readonly="true">Pessoal, alguém sabe se a Rocketseat está contratando?</textarea>

		</div>
		
		<div class="comment">
			<div class="img">
				<img src="account.png" alt="Avatar">
			</div>
			<textarea rows="3" readonly="true">Pessoal, alguém sabe se a Rocketseat está contratando?</textarea>
			
		</div>
		
		<div class="comment">
			<div class="img">
				<img src="account.png" alt="Avatar">
			</div>
			<textarea rows="3" readonly="true">Pessoal, alguém sabe se a Rocketseat está contratando?</textarea>
			
		</div>
	</div>
	<div class="content">
		<div class="card">
			<img src="user.png" alt="Avatar">
			<div class="autor">				
				<label >João Marcos Correia</label>
				<small >08 de março 2020</small>
			</div>
			<textarea rows="2" readonly="true">Vamos falar um pouco de blockchain?</textarea>
		</div>
		<hr/>

		<div class="comment">
			<div class="img">
				<img src="account.png" alt="Avatar">
			</div>
			<textarea rows="3" readonly="true">Lembresse que é uma tecnologia disrupitiva!!!</textarea>

		</div>
		<div class="comment">
			<div class="img">
				<img src="account.png" alt="Avatar">
			</div>
			<textarea rows="3" readonly="true">Ainda tem, os smart contrats.</textarea>
			
		</div>
		<div class="comment">
			<div class="img">
				<img src="account.png" alt="Avatar">
			</div>
			<textarea rows="3" readonly="true">Vamos virar tudo ancap!!!</textarea>
			
		</div>
	</div>

</body>
</html>