APP_URL=http://localhost:3333
NODE_ENV=dev

# AUTH

APP_SECRET=71dbd1ecee6d79664f1dd7bab195b092

# DATABASE

DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=g

# Mongo

MONGO_URL=

# redis

REDIS_HOST=127.0.0.1
REDIS_POST=6379

# MAIL

MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_AUTH_USER=
MAIL_AUTH_PASS=

# SENTRY

SENTRY_DSN=
